{% extends "front.base.html" %}

        {% block content %}
          <h1>Лицензионное соглашение</h1>
          <p>Используя наш сервис Вы обязуетесь исполнять данные правила:</p>
            <uL>
              <li>Не курить</li>
              <li>Не материться</li>
            </ul>
          <p>Также мы Вам сообщаем, что принимая Лицензионное соглашение, Вы подтверждаете факт продажи своей души ООО"ПростоБанк".</p>
        {% endblock content %}

        {% block footer %}
          <ul>
            <li><a href="/register/">Регистрация</a></li>
            <li><a href="/login/">Вход</a></li>
            <li><a href="/">Вернуться на главную</a></li>
          </ul>
        {% endblock footer %}
